input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input {
  &,
  &:focus {
    border: none;
    outline: none;
    font: inherit;
  }
}

.input {
  &--block {
    width: 100%;
    height: 100%;
  }

  &--curved {
    border-radius: var(--curved);
  }
}
